@import '../common/styles/Typography.scss';
@import '../common/styles/ScrollBar.scss';
.InfoUmaDetailBase {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow: hidden;
  background: var(--layer1);
  a {
    text-decoration: none;
  }
}

.InfoUmaDetailTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--brown-color);
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
  @include theme-text3(true);
  background: #d8c4a722;
  padding: 8px;
  .InfoUmaDetailSecond {
    @include theme-text4(true);
    opacity: 0.85;
  }
}

.InfoUmaDetailRightArea {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 12px;
}
.InfoUmaDetailNameArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin-bottom: 4px;
}
.InfoUmaDetailIcon {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

.InfoUmaSkillList {
  flex: 1;
  overflow-y: scroll;
  @include ThemeScrollBar;
}

@media (max-width: 1200px) {
  .InfoUmaDetailBase {
    width: 100%;
  }
  .InfoUmaDetailTitle {
    @include theme-text4(true);
  }
  .InfoUmaDetailIcon {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 425px) {
  .InfoUmaDetailBase {
    height: calc(100% - 120px);
  }
}
