@import '../common/styles/Typography.scss';
@import '../common/styles/ScrollBar.scss';
.InfoUmaDetail {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.InfoUmaDetailTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--brown-color);
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
  font-size: var(--font-size3);
  background: #d8c4a722;
  padding: 8px;
  .InfoUmaDetailSecond {
    font-size: var(--font-size4);
    opacity: 0.85;
  }
}

.InfoUmaDetailRightArea {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 12px;
}
.InfoUmaDetailNameArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.InfoUmaDetailIcon {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

.InfoUmaSkillList {
  flex: 1;
  overflow-y: scroll;
  @include ThemeScrollBar;
}

@media (max-width: 1200px) {
  .InfoUmaDetailTitle {
    font-size: var(--font-size5);
  }
  .InfoUmaDetailIcon {
    width: 50px;
    height: 50px;
  }
}
