@import "../common/styles/Typography.scss";
@import "../common/styles/LayerCard.scss";
@import "../common/styles/ScrollBar.scss";
.UmaList{
  @include LayerCard;
  display:flex;
  flex-direction: column;
  height: 100%;
  flex:1;
}

.UmaListLabel{
  @include theme-text5();
}
.UmaComponentList{
  flex:1;
  overflow-y:auto;
  padding: 0px 8px;
  height: calc(100% - 24px);
  
}

.UmaGrid{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 80px));
  grid-gap: 4px;
  height:max-content;
  justify-content: flex-start;
}