@import '../../common/Card.scss';
@mixin SupportCard {
  aspect-ratio: 1/1.3;
  &.available:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  &.selected {
    filter: saturate(50%) brightness(50%);
  }
}
.SupportCard-BackPanel {
  @include CardBackPanel;
  @include SupportCard();
}

.SupportCard {
  @include SupportCard();
  @include CardImage();
}
