.SupportCard-BackPanel {
  border-radius: 15px;
  aspect-ratio: 1/1.3;
  width: 100px;
  padding: 3px;
  // padding-bottom: 0px;
  border: solid 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.11);
  margin: 8px 0px;
  background: efefef;
  transition: transform 0.1s cubic-bezier(0.5, 0.13, 0.81, 0.44);
  overflow: hidden;
  &.available:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  &.selected {
    filter: saturate(50%) brightness(50%);
  }
  // &.지능 {
  //   background: rgb(196, 69, 255);
  // }
  // &.스태미나 {
  //   background: rgb(255, 126, 66);
  // }
  // &.근성 {
  //   background: rgb(123, 233, 101);
  // }
  // &.파워 {
  //   background: rgb(255, 238, 0);
  // }
  // &.친구 {
  //   background: rgb(0, 60, 255);
  // }
  // &.스피드 {
  //   background: rgb(255, 0, 0);
  // }
}
.tint {
  width: 106px;
  aspect-ratio: 1/1.3;
  margin-left: -3px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(221, 221, 221, 1) 49%,
    rgba(172, 172, 172, 1) 49%,
    rgba(201, 201, 201, 1) 77%,
    rgba(255, 255, 255, 1) 100%
  );
  // mix-blend-mode: multiply;
  margin-top: -137px;
  top: 0px;
  z-index: 1;
}
.SupportCard {
  border-radius: 10px;
  width: calc(100px - 4px);
  aspect-ratio: 1/1.3;
  border: solid 2px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
