@import '../../common/styles/Card.scss';
@mixin SupportCard {
  aspect-ratio: 1/1.3;
}
.SupportCardWrapper {
  display: inline-flex;
  flex-direction: column;
  background: #8f8f8f22;
  border-radius: 10px;
  padding: 2px;
  width: fit-content;
}
.SupportCard-BackPanel {
  @include hoverable;
  @include CardBackPanel;
  @include SupportCard;
  display: grid;
  grid-template-rows: 0fr 0fr 1fr;
  &:focus {
    outline: unset;
  }
}

.SupportCard {
  @include SupportCard;
  @include CardImage();
}

.SupportCardLikeButton {
  width: 16px;
  height: 16px;
  z-index: 2;
  transform: translateZ(0px);
  backdrop-filter: blur(5px);
  opacity: 0.8;
  border-radius: 11px;
}
.SupportCardLikeIcon {
  user-select: none;
  cursor: pointer;
  margin-bottom: -100%;
  margin-top: -10px;
  margin-left: -20px;
  width: 35px;
  height: 35px;
  z-index: 1;
}
.SupportCardTypeIcon {
  user-select: none;
  margin-bottom: -100%;
  width: 20px;
  height: 20px;
  margin-left: 60px;
  z-index: 1;
}
@media (max-width: 1200px) {
  @mixin SupportCard {
    aspect-ratio: 1/1;
  }
  .SupportCard-BackPanel {
    @include hoverable;
    @include CardBackPanel(60);
    @include SupportCard;
    &:focus {
      outline: unset;
    }
  }
  .SupportCard {
    @include SupportCard;
    @include CardImage(60);
  }
  .SupportCardTypeIcon {
    margin-left: 40px;
  }
}

@media (max-width: 420px) {
  @mixin SupportCard {
    aspect-ratio: 1/1;
  }
  .SupportCard-BackPanel {
    @include hoverable;
    @include CardBackPanel(50);
    @include SupportCard;
    &:focus {
      outline: unset;
    }
  }
  .SupportCard {
    @include SupportCard;
    @include CardImage(50);
  }
  .SupportCardTypeIcon {
    margin-left: 30px;
  }
  .SupportCardLikeIcon {
    width: 30px;
    height: 30px;
  }
}
