@import '../../components/common/styles/App.scss';
@import '../../components/common/styles/ScrollBar.scss';
@import '../../components/common/styles/LayerCard.scss';
@import '../../components/common/styles/Palette.scss';

.MainPage {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}
.MainPageContent {
  flex: 1;
  display: flex;
  overflow: hidden;
}
.MainPagelabel {
  @include text4();
  @include Accent;
  user-select: none;
  color: white;
  padding: 4px 8px;
  margin: 4px;
  margin-bottom: 8px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .resetFavorite {
    display: inline-flex;
    align-items: center;
    transition: transform 0.1s cubic-bezier(0.5, 0.13, 0.81, 0.44);
    cursor: pointer;
    &:hover {
      transform: scale(0.8);
    }
  }
}

.CardListArea {
  flex: 1;
}
.UmaListSection {
  flex: 1;
}

.UmaEventArea {
  display: flex;
  flex: 2;
}
.EventChoice {
  display: flex;
  flex: 1;
}
.GlobalChoiceButton {
  margin: 0px 8px;
  margin-bottom: 8px;
  padding: 8px;
  background: var(--carrot-dark);
  color: var(--text-color);
  border-radius: 4px;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .MainPageContent {
    padding: 0px;
  }
  @mixin shrinkable {
    flex: 0.000001;
    width: 0px;
    transform: scaleX(0);
    transform-origin: center left;
    &.activated {
      width: auto;
      transform: scaleX(1);
      flex: 1;
    }
  }
  .CardListArea {
    @include shrinkable;
  }
  .UmaListSection {
    @include shrinkable;
  }
  .UmaEventArea {
    max-width: 100vw;
    &._2 {
      flex: 2;
      width: auto;
    }
    &._1 {
      flex: 1;
      width: auto;
    }
    &._0 {
      flex: 0.000001;
      width: 0px;
    }
  }
  .EventChoice {
    max-width: 50vw;
    @include shrinkable;
  }
  .GlobalChoiceButton {
    margin: 0px;
    background: var(--carrot-dark);
    padding: 12px;
    border-radius: 0px;
  }
}
