@import '../../components/common/styles/App.scss';
@import '../../components/common/styles/ScrollBar.scss';
@import '../../components/common/styles/LayerCard.scss';
@import '../../components/common/styles/Palette.scss';
.MainPage {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background: var(--background);
  height: 100vh;
  padding: 0px 100px;
  justify-content: center;
  // align-items: center;
}
.MainPageTitleBar {
  @include Accent;
  @include text2();
  justify-content: space-between;
  align-items: center;
  padding: 0px 18px;
  color: white;
  display: flex;
  height: 64px;
  margin: 8px;
  border-radius: 10px;
  .github {
    height: 30px;
    width: 30px;
    fill: white;
    cursor: pointer;
  }
}
.MainPageContent {
  flex: 1;
  display: flex;
  overflow: hidden;
  padding: 8px;
}
.MainPagelabel {
  @include text3();
  user-select: none;
  background: rgba(167, 224, 7, 1);
  color: white;
  padding: 4px 8px;
  margin: 4px;
  margin-bottom: 8px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .resetFavorite {
    stroke-width: 4px;
    display: inline-flex;
    align-items: center;
    transition: transform 0.1s cubic-bezier(0.5, 0.13, 0.81, 0.44);
    cursor: pointer;
    &:hover {
      transform: scale(0.8);
    }
  }
}

.CardListArea {
  flex: 1;
}
.UmaListSection {
  flex: 1;
}

.UmaEventArea {
  display: flex;
  flex: 2;
}
.EventChoice {
  display: flex;
  flex: 1;
}
@media (max-width: 1200px) {
  .MainPage {
    padding: 0px;
  }
  .MainPageContent {
    padding: 0px;
  }
}
