.CardFilterWrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 1rem;
}

.CardFilter {
  display: flex;
  gap: 1rem;
}

.WhiteTraits{
    display: flex;
    flex-direction: column;
}