.CardFilterWrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 1rem;
}

.CardFilter {
  display: flex;
  gap: 1rem;
  margin: 1rem;
}

.WhiteTraits{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
  .CardFilter {
    flex-direction: column;
  }
}