@import '../../components/common/styles/App.scss';
@import '../../components/common/styles/LayerCard.scss';
@import '../../components/common/styles/ScrollBar.scss';
.UmaDetail {
  @include LayerCard;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 8px 4px;
  justify-content: center;
  align-items: stretch;
}
.MuiAvatar-root {
  border-radius: 12px !important;
}
.Label {
  @include theme-text3(true);
  text-align: center;
  span {
    padding: 4px 8px;
    margin: 0px auto;
    margin-bottom: 8px;
  }
}

.EventListWrapper {
  @include ThemeScrollBar;
  flex: 1;
  overflow-y: auto;
}

.UmaNotExist {
  display: flex;
}
@media (max-width: 1200px) {
  .UmaDetail {
    margin: 0px;
  }
}
