@import "../../components/common/styles/App.scss";

.UmaDetail{
  padding:0px 4px;
  display:flex;
  flex-direction: column;
}
.MuiAvatar-root{
  border-radius: 8px!important;
}
.Label{
  @include theme-text4(true);
}

.EventListWrapper{
  flex:1;
  overflow-y:auto;
}