@import './Palette.scss';
@import './Animation.scss';

$cardRadius: 7px;

@mixin CardBackPanel($width: 80) {
  @include animation(0.2s, appearance, cubic-bezier(0.25, 1, 0.8, 1.2));
  user-select: none;
  box-sizing: content-box;
  border-radius: 10px;
  width: $width + 0px;
  padding: 2px;
  // border: solid 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 3px rgba(0, 0, 0, 0.11);
  transition: transform 0.2s cubic-bezier(0.5, 0.13, 0.81, 0.44);
  overflow: hidden;
  align-self: center;
  justify-self: center;
  cursor: pointer;

  @include keyframes(appearance) {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  &.R {
    background: var(--R-Gradient);
  }
  &.SR {
    background: var(--SR-Gradient);
  }
  &.SSR {
    background: var(--SSR-Gradient);
  }
}
@mixin CardImage($width: 80) {
  user-select: none;
  position: relative;
  border-radius: $cardRadius;
  width: $width - 4px;
  object-fit: cover;
  border: solid 2px rgba(0, 0, 0, 0.2);
  opacity: 0.99;
  image-rendering: optimizeQuality;
}

@mixin CardPlaceholder($width: 80) {
  width: $width;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  margin: 0px 8px;
  border-radius: $cardRadius;
  background: #ececec;
  border: dotted 4px #e8e8e8;
}

@mixin hoverable {
  &:hover {
    transition: transform 0.1s cubic-bezier(0.5, 0.13, 0.81, 0.44);
    transform: scale(0.95);
    cursor: pointer;
  }
}
