@import "./theme/theme.scss";
@mixin LayerCard(){
  border-radius:4px;
  // margin:12px;
  // padding:16px;
  background:var(--layer1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 3px rgba(0, 0, 0, 0.11);
}