@import './theme/theme.scss';

html {
  --R-Gradient: linear-gradient(160deg, white 0%, #9da5be 100%);
  --SR-Gradient: linear-gradient(160deg, #fff3d4 0%, #cf9811 100%);
  --SSR-Gradient: linear-gradient(
    135deg,
    rgba(239, 150, 223, 1) 0%,
    rgb(223, 119, 255) 30%,
    rgba(113, 173, 251, 1) 60%,
    rgba(74, 220, 242, 1) 70%,
    rgba(182, 247, 77, 1) 80%,
    #e7fb98 100%
  );
  --accentgreen: rgba(167, 224, 7, 1);
  --accentgreendark: rgba(107, 187, 2, 1);
}

@mixin Accent {
  // border: solid 1px hsla(0, 0%, 0%, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    135deg,
    rgba(167, 224, 7, 1) 0%,
    rgba(167, 224, 7, 1) 68%,
    rgba(107, 187, 2, 1) 68%,
    rgba(160, 221, 4, 1) 100%
  );
}
@mixin TitleBar {
  // border: solid 2px rgba(107, 187, 2, 1);
  background: linear-gradient(
    135deg,
    var(--layer1) 0%,
    var(--layer1) 68%,
    rgba(107, 187, 2, 1) 68%,
    rgba(160, 221, 4, 1) 100%
  );
}
