@media (prefers-color-scheme: dark) {
  html {
    --text-color: #fdfdffdd;
    --brown-color: #6d4d38;
    --background: #242424;
    --layer1: #343434;
    --layer2: hsl(0, 0%, 20%);
    --layer3: hsl(0, 0%, 32%);
    --layer4: hsl(0, 0%, 36%);
  }
}
