@media (prefers-color-scheme: light) {
  html {
    --brown-color: #6d4d38;
    --text-color: #242424ee;
    --background: #f2f1f7;
    --layer1: #f2f2f6;
    --layer2: #ededf2;
    --layer3: hsl(240, 16%, 92%);
    --layer4: hsl(240, 16%, 90%);
  }
}
