.SelectedCard {
    width: 120px;
}
.SelectedCard-image {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 7px;
}
.SelectedCard-removeButton {
    position: absolute;
    background: #f44336;
    color: white;
    font-size: 8px;
    margin-top: 4px;
    margin-left: -24px;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
