@import '../../common/Card.scss';
@mixin SelectedCard {
  aspect-ratio: 1;
}
.SelectedCard {
  @include SelectedCard();
  @include CardBackPanel;
  margin: 0px 8px;
}
.SelectedCard-image {
  @include SelectedCard();
  @include CardImage;
}
.SelectedCard-removeButton {
  position: absolute;
  background: #f44336;
  color: white;
  font-size: 8px;
  margin-top: 4px;
  margin-left: -24px;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.SelectedCard-removeButton:focus {
  outline: none;
}
