@import '../../common/styles/Card.scss';
@mixin SelectedCard {
  aspect-ratio: 1;
}
.SelectedCard {
  @include SelectedCard();
  @include CardBackPanel();
  margin: 0px 8px;
}
.SelectedCard-image {
  @include SelectedCard();
  @include CardImage();
}
.SelectedCard-removeButton {
  background: #e0245e;
  color: white;
  font-size: 8px;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transform: translateZ(0px);
  margin-top:-105px;
  margin-left:76px;
  // padding:5px;
}
.SelectedCard-removeButton:focus {
  outline: none;
}
