@import '../../common/styles/Card.scss';
@mixin SelectedCard {
  aspect-ratio: 1;
}
.SelectedCard {
  @include SelectedCard();
  @include CardBackPanel();
  position: relative;
  // left: 50%;
  // transform: translateX(-50%);
}
.SelectedCard-image {
  @include SelectedCard();
  @include CardImage();
}
.SelectedCard-removeButton {
  transition: transform 0.1s cubic-bezier(0.5, 0.13, 0.81, 0.44);
  background: #e0245e;
  color: white;
  font-size: 8px;
  border: solid 2px white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transform: translateZ(0px);
  margin-top: -84px;
  margin-left: 58px;
  &:hover {
    transform: scale(0.85);
  }
  &:before,
  &:after {
    position: absolute;
    top: 3px;
    left: 7px;
    content: ' ';
    height: 10px;
    width: 2px;
    background-color: white;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}
.SelectedCard-removeButton:focus {
  outline: none;
}
@media (max-width: 1200px) {
  .SelectedCard {
    @include SelectedCard();
    @include CardBackPanel(80);
  }
  .SelectedCard-image {
    @include SelectedCard();
    @include CardImage(80);
  }
  .SelectedCard-removeButton {
    margin-top: -64px;
    margin-left: 38px;
  }
}
@media (max-width: 420px) {
  .SelectedCard {
    @include SelectedCard();
    @include CardBackPanel(50);
  }
  .SelectedCard-image {
    @include SelectedCard();
    @include CardImage(50);
  }
  .SelectedCard-removeButton {
    margin-top: -54px;
    margin-left: 28px;
  }
}
