@import '../../components/common/styles/Typography.scss';
@import '../../components/common/styles/LayerCard.scss';
.SupportCardDetail {
  @include LayerCard;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 8px 4px;
  justify-content: center;
  align-items: stretch;
}
.MuiAvatar-root {
  border-radius: 8px !important;
}
.Label {
  @include theme-text3(true);
  span {
    margin: 0px auto;
    width: fit-content;
    padding-left: 8px;
  }
}

.EventListWrapper {
  flex: 1;
  overflow-y: auto;
  padding: 8px;
}

@media (max-width: 1200px) {
  .SupportCardDetail {
    margin: 0px;
  }
  .EventListWrapper {
    padding: 0px;
  }
}
