@import '../../components/common/styles/Typography.scss';
@import '../../components/common/styles/LayerCard.scss';
.SupportCardDetail {
  @include LayerCard;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 8px;
}
.MuiAvatar-root {
  border-radius: 8px !important;
}
.Label {
  @include theme-text3(true);
  p {
    padding-left: 8px;
  }
}

.EventListWrapper {
  flex: 1;
  overflow-y: auto;
  padding: 8px;
}
