.SupportCardListWrapper {
  overflow: hidden;
  flex: 1;
  padding: 0px 8px;
}

.SupportCardList {
  // padding: 16px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 90px));
  justify-content: space-evenly;
  width: 100%;
  margin: 16px auto;
  flex: 1;
  grid-gap: 4px;
}
@media (max-width: 1200px) {
  .SupportCardList {
    grid-template-columns: repeat(auto-fit, minmax(auto, 70px));
  }
}

@media (max-width: 420px) {
  .SupportCardList {
    grid-template-columns: repeat(auto-fit, minmax(auto, 60px));
  }
}
