.SupportCardListWrapper {
  overflow: hidden;
  flex: 1;
}

.SupportCardList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 110px));
  justify-content: center;
  width: 100%;
  margin: 0px auto;
  flex: 1;
  grid-gap:10px;
}
