.SupportCardListWrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  flex: 1;
}

.SupportCardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 12.5%));
  justify-items: center;
  width: 100%;
  margin: 0px auto;
  flex: 1;
}
