@import '../styles/Typography.scss';
@import '../styles/Card.scss';
@mixin HeroImage {
  aspect-ratio: 1;
  cursor: default;
}
.Hero {
  display: flex;
  justify-self: stretch;
  width: -webkit-fill-available;
  background: #d8c4a722;
  padding: 8px;
  border-radius: 4px;

  .heroImage {
    @include HeroImage;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 8px;
    border-radius: 10px;
    cursor: pointer;
    .heroImageContent {
      @include HeroImage;
      @include CardImage(80);
      @include hoverable;
      object-fit: cover;
      image-rendering: optimizeQuality;
    }
  }
  .heroLabels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    @include theme-text4;
  }
  .heroLabel {
    margin: 0px;
  }
}

@media (max-width: 1200px) {
  .Hero {
    .heroImage {
      width: 60px;
      height: 60px;
      .heroImageContent {
        @include HeroImage;
        @include CardImage(60);
        @include hoverable;
        object-fit: cover;
        image-rendering: optimizeQuality;
      }
    }
  }
}
