.Navigation {
  display: flex;
  height: 45px;
  margin: 0px 16px 8px 16px;
  background: var(--accentgreen);
  border-radius: 4px;
  padding: 8px;
  .navItem {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a {
    text-decoration: none;
    z-index: 1;
    color: white;
  }
}
.highlighter {
  border-radius: 4px;
  background: var(--accentgreendark);
  width: calc(50% - 132px);
  height: 45px;
  position: absolute;
  transition: all 0.3s cubic-bezier(0.2, 0.8, 0, 1);
  transform-origin: center left;
  &.\/ {
    transform: translateX(0px);
  }
  &.\/info {
    transform: translateX(calc(100% + 16px));
  }
}
@media (max-width: 1200px) {
  .Navigation {
    margin: 0px;
    height: 24px;
    border-radius: 0px;
  }
  .highlighter {
    width: calc(50% - 16px);
    height: 24px;
    &.\/ {
      transform: translateX(0px);
    }
    &.\/info {
      transform: translateX(calc(100% + 16px));
    }
  }
}
