@import '../../common/styles/Typography.scss';
.InfoUmaSkillDetailBase {
  a {
    text-decoration: none;
  }
  border-bottom: solid 1px var(--carrot-dark-half);
  border-radius: 0px;
  overflow: hidden;
  &:last-of-type {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: none;
  }
}
.InfoUmaSkillDetailContents {
  @include text4;
  display: flex;
  color: var(--text-color);
  align-items: flex-start;
  background: #00000011;
  padding: 8px;
}

.InfoUmaSkillDetailIcon {
  width: 45px;
  height: 45px;
  margin-right: 12px;
}

.InfoUmaSkillTitle {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  color: white;
  .InfoUmaSkillGrade {
    width: max-content;
    @include text7;
    margin-bottom: 4px;
    border-radius: 16px;
    padding: 2px 8px;
    &.ORIGINAL {
      background: #4e95e6;
    }
    &.NORMAL {
      background: #72422c;
    }
    &.RARE {
      background: #ffc107aa;
    }
  }

  .InfoUmaSkillName {
    @include theme-text3(false);
    font-weight: bold;
  }
}

.InfoUmaSkillDescription {
  opacity: 0.85;
}

.InfoUmaSkillLabels {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .InfoUmaSkillTitle {
    .InfoUmaSkillGrade {
      @include text5;
    }
  }
}
