.InfoNavigationItem {
  text-decoration: none;
  // color: var(--text-color);
  color: white;
  flex: 1;
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
@media (max-width: 1200px) {
  .InfoNavigationItem {
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  .InfoNavigationItem {
    padding: 8px 16px;
  }
}
