@import '../../components/common/styles/LayerCard.scss';
@import '../../components/common/styles/ScrollBar.scss';
.CardList {
  display: flex;
  height: calc(100% - 16px);
  right: 0px;
  margin: 8px;
  @include LayerCard;
  flex-direction: column;
  .CardListGrid {
    @include ThemeScrollBar;
    flex: 1;
    height: 100%;
    overflow-y: scroll;
    padding: 8px;
  }
}
