@import "../../components/common/styles/LayerCard.scss";
@import "../../components/common/styles/ScrollBar.scss";
.CardList {
  display: flex;
  height:100%;
  right:0px;
  @include LayerCard;
  flex-direction: column;
  .CardListGrid{
    @include ThemeScrollBar;
    flex:1;
    height:100%;
    overflow-y: scroll;
    padding:0px 16px;
  }
}