@import '../../common/styles/Card.scss';

$umaSize: 80px;

.UmaComponent {
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  width: $umaSize;
  height: $umaSize;
}
.umaComponentImage {
  width: $umaSize;
  height: $umaSize;
  @include hoverable;
}
@media (max-width: 1200px) {
  $umaSize: 60px;
  .UmaComponent {
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    width: $umaSize;
    height: $umaSize;
  }
  .umaComponentImage {
    width: $umaSize;
    height: $umaSize;
    @include hoverable;
  }
}
@media (max-width: 420px) {
  $umaSize: 50px;
  .UmaComponent {
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    width: $umaSize;
    height: $umaSize;
  }
  .umaComponentImage {
    width: $umaSize;
    height: $umaSize;
    @include hoverable;
  }
}
