@import '../../components/common/styles/theme/theme.scss';

/deep/ .MuiDialog-paper {
  background-color: var(--layer1) !important;
  opacity: 1;
  color: var(--text-color);
}
.MuiPaper-root {
  background-color: white !important; // var(--layer1) !important;
}
