@import '../../../components/common/styles/Palette.scss';
.InfoNavigation {
  display: flex;
  justify-content: flex-start;
  background: var(--carrot);
  height: 38px;
  margin: 8px 0px;
  border-radius: 4px;
  display: flex;
}
.InfoNavigationHighlighter {
  @include CarrotHighlight;
  // background: var(--carrot-dark);
  width: calc(33% - 76px);
  height: 30px;
  margin-top: 4px;
  margin-left: 6px;
  position: absolute;
  // mix-blend-mode: overlay;
  border-radius: 4px;
  transition: all 0.3s cubic-bezier(0.2, 0.8, 0, 1);
  &.\/info\/uma {
    transform: translateX(0px);
  }
  &.\/info\/card {
    transform: translateX(100%);
  }
  &.\/info\/skill {
    transform: translateX(200%);
  }
}

@media (max-width: 1200px) {
  .InfoNavigation {
    margin: 0px;
    border-radius: 0px;
    height: 46px;
  }
  .InfoNavigationHighlighter {
    width: calc(33% - 1px);
    height: 36px;
  }
}

@media (max-width: 425px) {
  .InfoNavigation {
    height: 32px;
  }
  .InfoNavigationHighlighter {
    height: 24px;
    width: calc(33% - 2px);
  }
}
